[Unit]
Description=SearchWing service for NMEA streaming with gps2udp

After=network.target

[Service]
EnvironmentFile=/etc/default/searchwing-gps2udp
Type=simple
User=searchwing
ExecStart=/usr/bin/gps2udp --nmea $NMEA_CLIENTS
WorkingDirectory=/home/searchwing
Restart=always
RestartSec=1
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
