ACTION=="add", SUBSYSTEM=="tty", KERNELS=="1-1.2", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="7523", SYMLINK+="ttyGPS"
ACTION=="add", SUBSYSTEM=="tty", KERNELS=="1-1.2", ATTRS{idVendor}=="2109", ATTRS{idProduct}=="2812", SYMLINK+="ttyRFD"
